<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <title>Product App</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img :src="image" />
                </div>
            
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p>{{ description }}</p>
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of Stock</p>
                    <p v-if="onSale">On Sale!</p>
                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>
                    <ul>
                        <li v-for="size in sizes">{{ size }}</li>
                    </ul>
                    <div v-for="variant in variants" :key="variant.variantId">
                        <p>{{ variant.variantColor }}</p>
                    </div>
                  
                    <a :href="link" target="_blank"> More products like this</a>
                    
                </div>
            

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="main.js"></script>
    </body>
</html>